{% load static %}


<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Darakchi</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/vendors/aos/dist/aos.css/aos.css' %}" />

    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />

    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endinject -->
  </head>

  <body>
    <div class="container-scroller">
      <div class="main-panel">
        <!-- partial:partials/_navbar.html -->
        <header style="background: black;">
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="navbar-top">
                <div class="d-flex justify-content-between align-items-center">
                  <ul class="navbar-top-left-menu">
                    <li class="nav-item">
                      <a href="#" class="nav-link">Reklama</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Haqida</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Voqealar</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Biz bilan bog'lanish</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Matbuot</a>
                    </li>
                  </ul>
                  <ul class="navbar-top-right-menu">
                    <li class="nav-item">
                      <a href="#" class="nav-link"><i class="mdi mdi-magnify"></i></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Kirish</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Ro'yxatdan o'tish</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="navbar-bottom", style="background: black;">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a class="navbar-brand" href="{% url 'index' %}"
                      ><img src="https://darakchi.uz/images/logo.png" alt=""
                    /></a>
                  </div>
                  <div>
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-target="#navbarSupportedContent"
                      aria-controls="navbarSupportedContent"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                      class="navbar-collapse justify-content-center collapse"
                      id="navbarSupportedContent"
                    >
                      <ul
                        class="navbar-nav d-lg-flex justify-content-between align-items-center"
                      >
                        <li>
                          <button class="navbar-close">
                            <i class="mdi mdi-close"></i>
                          </button>
                        </li>
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'category' category_id=1 %}">O'ZBEKISTON</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'category' category_id=2%}">JAXON</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'category' category_id=3%}">IQTISODIYOT</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'category' category_id=4%}">JAMIYAT</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'category' category_id=5%}">FAN-TEXNIKA</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'category' category_id=6%}">SPORT</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <ul class="social-media">
                    <li>
                      <a href="#">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
          <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <a href="{% url 'category' category_id=9%}"><button class="btn btn-outline-success" type="button">YANGI XABARLAR</button></a>
    <a href="{% url 'category' category_id=10%}"><button class="btn btn-sm btn-outline-secondary" type="button">ESKI XABARLAR</button></a>
  </form>
</nav>
        </header>
{% block content %}




{% endblock content %}
<footer>
          <div class="footer-top">
            <div class="container">
              <div class="row">
                <div class="col-sm-5">
                  <img src="https://darakchi.uz/images/logo.png" class="footer-logo" alt="" />
                  <h5 class="font-weight-normal mt-4 mb-5">
                    Gazeta - bu sizning yangiliklar, o'yin-kulgi, musiqa moda veb-sayti. Biz sizga to'g'ridan-to'g'ri ko'ngilochar industriyadagi eng so'nggi yangiliklar va videolarni taqdim etamiz.
                  </h5>
                  <ul class="social-media mb-3">
                    <li>
                      <a href="#">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <h3 class="font-weight-bold mb-3">OXIRGI POSLAR</h3>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="footer-border-bottom pb-2">
                        <div class="row">
                          <div class="col-3">
                            <img
                              src="{% static 'assets/images/dashboard/home_1.jpg' %}"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="col-9">
                            <h5 class="font-weight-600">
                              Amerikalik treyderlar AQShdan paxta importi o'sishini bashorat qilishdi
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="footer-border-bottom pb-2 pt-2">
                        <div class="row">
                          <div class="col-3">
                            <img
                              src="{% static 'assets/images/dashboard/home_2.jpg' %}"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="col-9">
                            <h5 class="font-weight-600">
                              Amerikalik treyderlar AQShdan paxta importi o'sishini bashorat qilishdi
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div>
                        <div class="row">
                          <div class="col-3">
                            <img
                              src="{% static 'assets/images/dashboard/home_3.jpg' %}"
                              alt="thumb"
                              class="img-fluid"
                            />
                          </div>
                          <div class="col-9">
                            <h5 class="font-weight-600 mb-3">
                              Amerikalik treyderlar AQShdan paxta importi o'sishini bashorat qilishdi
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <h3 class="font-weight-bold mb-3">Kanigoriyalar</h3>
                  <div class="footer-border-bottom pb-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="mb-0 font-weight-600">Jurnal</h5>
                      <div class="count">1</div>
                    </div>
                  </div>
                  <div class="footer-border-bottom pb-2 pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="mb-0 font-weight-600">Biznes</h5>
                      <div class="count">1</div>
                    </div>
                  </div>
                  <div class="footer-border-bottom pb-2 pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="mb-0 font-weight-600">Sport</h5>
                      <div class="count">1</div>
                    </div>
                  </div>
                  <div class="footer-border-bottom pb-2 pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="mb-0 font-weight-600">San'at</h5>
                      <div class="count">1</div>
                    </div>
                  </div>
                  <div class="pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                      <h5 class="mb-0 font-weight-600">Siyosat</h5>
                      <div class="count">1</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="d-sm-flex justify-content-between align-items-center">
                    <div class="fs-14 font-weight-600">
                      © 2022 @ <a href="https://www.bootstrapdash.com/" target="_blank" class="text-white"> BootstrapDash >>> Alikuziyev </a>Anvar <<<
                    </div>
                    <div class="fs-14 font-weight-600">
                      Tomonidan qolda ishlangan <a href="https://www.bootstrapdash.com/" target="_blank" class="text-white">BootstrapDash</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>

        <!-- partial -->
      </div>
    </div>
    <!-- inject:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'assets/js/demo.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easeScroll.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>







